@font-face {
   font-family: 'Ailerons';
   font-display: swap;
   src: url('Ailerons/font.ttf');
}
@font-face {
   font-family: 'PoiretOne-Regular';
   font-display: swap;
   src: url('PoiretOne-Regular/font.ttf');
}
@font-face {
   font-family: 'Parisish';
   font-display: swap;
   src: url('Parisish/font.ttf');
}
